.container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #e3effd;
    border: none;
    border: 2px solid #011423;
}

h1{
    color: #011423; 
}

.btn {
    color: #011423; 
    font-weight: bold;
    margin-top: 15px;
    padding: 7px;
}

body {
    background-color: #e3effd;
}
